body {
    background: #d6e9c6;
}

.lists {
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
}

.add-list {
    display: inline-block;
    position: relative;
    min-width: 120px;
    min-height: 50px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    transition: font-size 100ms;
    padding: 50px 50px;
    margin: 5px;
    border-radius: 10px;
}

.add-list:hover {
    font-size: 50px;
    background-color: rgba(255,255,255,0.3);
}